@charset "UTF-8";

@font-face {
    font-family: 'EldesCordel-Demo.otf';
    src: url(fontes/EldesCordel-Demo.otf) format("opentype");
}

@font-face {
    font-family: 'SimpleHandmade';
    src: url(fontes/SimpleHandmade.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SimpleHandmade';
    font-style: italic;
    position: relative;
}

header {
    font-family:'EldesCordel-Demo.otf';
    background-color: black;
    padding: 70px;
    color: white;
    font-style: normal;
    text-align: center;
}

h1 {
    font-size: 8em;
}

header > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
}

section > p {
    padding: 80px 50px;
    font-weight: bold;
    font-size: 4.5em;
    line-height: 1.7em;
    
}

div.doisversos {

    box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.336);
}

#verso1 {
    background-color: white;
}


#verso2 { 
    background-image: url(imagens/background001.jpg);
    background-size: cover; 
    background-attachment: fixed;
    color: white
}

#verso3 {

}

#verso4 {
    color: white;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;

}

#verso5 {

}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;;
    background-color: black;
    color: white;
    padding: 20px 20px 30px 20px;
    font-size: 1.4em;
}

aside {
    display: block;
    padding: 80px 1050px 80px 30px;
    font-weight: bold;
    font-size: 4.5em;
    line-height: 1.7em;
    background-color: rgba(0, 0, 0, 0.371);
    background-clip: content-box;
}

