@charset "UTF-8";

@font-face {
    font-family: 'EldesCordel-Demo.otf';
    src: url(fontes/EldesCordel-Demo.otf) format("opentype");
}

@font-face {
    font-family: 'SimpleHandmade';
    src: url(fontes/SimpleHandmade.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SimpleHandmade';
    font-style: italic;
    position: relative;
}

header {
    font-family:'EldesCordel-Demo.otf';
    background-color: black;
    padding: 8vh;
    color: white;
    font-style: normal;
    text-align: center;
}

h1 {
    font-size: 8vw;
    font-variant: small-caps;
}

header > p {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2vh;
    font-size: 2vw;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

section > p {
    padding-top: 7vh;
    padding-bottom: 7vh;
    padding-left: 10vw;
    font-weight: bold;
    font-size: 4vw;
    line-height: 1.7em;
    
}

div.doisversos {

}

#verso1 {
    background-color: white;
}


#verso2 { 
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover; 
    background-attachment: fixed;
    color: white;
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.497);
}

#verso3 {
    padding-bottom: -2vh;

}

#verso4 {
    color: white;
    text-shadow: 1px 1px 0px black;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.358);

}

#verso5 {
    padding-bottom: 1vh;

}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;;
    background-color: black;
    color: white;
    padding: 3vh 3vw 3vh 3vw;
    font-size: 2vh;
}

aside > p{  
    padding-top: 7vh;
    padding-bottom: 7vh;
    padding-left: 10vw;
    padding-right: 40vw;
    font-weight: bold;
    font-size: 4vw;
    line-height: 1.7em;
    background-color: rgba(0, 0, 0, 0.371);
    background-clip: content-box;
}

